[Desktop Entry]
Type=Application
Name=User folders update
Exec=/usr/bin/copy_desktop
StartupNotify=false
NoDisplay=true
X-Ubuntu-Gettext-Domain=xdg-user-dirs
