[Desktop Entry]
Type=Application
Name=User folders update
TryExec=copy_desktop
Exec=copy_desktop
StartupNotify=false
NoDisplay=true
X-Ubuntu-Gettext-Domain=xdg-user-dirs

X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
